<div class="col-sm-8 grading">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h2>Grade:</h2>
    </div>
    <div class="questionList">
    <table class="center-block table table-hover row">
      <thead>
        <tr>
          <th class="col-xs-4 col-sm-4">Team</th>
          <th class="col-xs-12 col-sm-7">Answer</th>
          <th class="col-xs-4 col-sm-4">Correct?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <th>{{team.handle}}</th>
          <th>{{team.message}}</th>
          <th><button (click)="gradeUp(team)" class="btn btn-success glyphicon glyphicon-ok"></button></th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <button [disabled]="!ToggleButton" type="submit" class="btn btn-default pull-left" (click)="onStartNewRound()"><span class="glyphicon glyphicon-repeat"></span> Start new round</button>
</div>

<!-- <button class="btn btn-danger glyphicon glyphicon-remove"></button> -->
