<div class="col-xs-7 col-sm-3 scoreboard">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 >Score:</h2>
    </div>
    <table class="center-block table table-striped row">
      <thead>
        <tr>
          <!-- <th class="col-sm-4">#</th> -->
          <th class="col-xs-12 col-sm-12">Team</th>
          <th class="col-xs-12 col-sm-12">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <!-- <th></th> -->
          <th>{{team.handle}}</th>
          <th>{{team.score}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
