<div class="jumbotron container text-center">
  <form class="form-inline">
    <div class="form-group">
      <label for="room">Room Name</label>
      <input [(ngModel)]="room" name="room" type="text" class="form-control" id="room" >
        <label for="room">Team Name</label>
        <input [(ngModel)]="teamName" name="teamName" type="text" class="form-control" id="teamName" >
      <button (click)="joinRoom(teamName,room)" type="button" class="btn btn-default" routerLink="team">Join Room</button>
    </div>
  </form>
</div>
