<app-room-header></app-room-header>
<app-timer [hidden]="!timer"></app-timer>
<div class="row">
  <app-scoreboard></app-scoreboard>
  <app-posted-question
    [hidden]="!postedQuestion">
  </app-posted-question>
  <app-select-questions
    [onSelectQuestion]="onSelectQuestion.bind(this)"
    [hidden]="buttonSelectQuestion">
  </app-select-questions>
  <app-question-list
    [hidden]="!selectQuestion"
    [onSubmitQuestion]="onSubmitQuestion.bind(this)"
    [startTimer]="startTimer.bind(this)">
  </app-question-list>
  <app-grading
    [hidden]="grade"
    [onStartNewRound]="onStartNewRound.bind(this)"
  ></app-grading>
</div>
<app-finish-game></app-finish-game>
<app-footer></app-footer>
