<div class="questionList col-sm-8">
  <h2>Questions:</h2>
  <table class="table table-striped row">
    <thead>
      <tr>
        <th class="col-sm-3">Category</th>
        <th class="col-sm-4">Question</th>
        <th class="col-sm-4">Answer</th>
        <th class="col-sm-1">Select</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>blah</th>
        <th>blah</th>
        <th>blah</th>
        <th>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            </label>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
    <form class="form-inline">
      <div class="form-group ">
        <select class="form-control">
          <option disabled>Choose Category</option>
          <option>2</option>
        </select>
      </div>
      <div class="form-group ">
        <label class="sr-only" for="addQuestion">Question</label>
        <input type="text" class="form-control" id="addQuestion" placeholder="Enter Question">
      </div>
      <div class="form-group ">
        <label class="sr-only" for="addAnswer">Answer</label>
        <input type="text" class="form-control" id="addAnswer" placeholder="Enter Answer">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>
