<app-header
  [onAdminSignIn]="onAdminSignIn.bind(this)"
  [onAdminSignUp]="onAdminSignUp.bind(this)"
  [onTeamSignIn]="onTeamSignIn.bind(this)">
</app-header>
<app-admin-sign-in
  [hidden]="adminSignUp"
  [hidden]="!adminSignIn"
  [onAdminSignUp]="onAdminSignUp.bind(this)"
  [onAdminSubmitSignIn]="onAdminSubmitSignIn.bind(this)">
</app-admin-sign-in>
<app-team-sign-in
  [hidden]="!teamSignIn">
</app-team-sign-in>
<app-admin-sign-up
  [hidden]="!adminSignUp"
  [onAdminSubmitSignUp]="onAdminSubmitSignUp.bind(this)">
</app-admin-sign-up>
<app-create-room
  [hidden]="!createRoom"

  >
</app-create-room>
<app-about
  [hidden]="aboutTrivia">
</app-about>
<app-footer></app-footer>
