<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
       <img alt="Brand" src="/assets/trivialogo.png" class="logo img-responsive">
      </div>
      <h1 class="navbar-brand title navbar-text">BATTLE<code>&lt;CODE&gt;</code>ROYALE</h1>
    </div>
    <div class="collapse navbar-collapse signinButtons" id="bs-example-navbar-collapse-1">
      <button class="navbar-right btn-space btn btn-primary navbar-btn" (click)="onAdminSignIn()">admin sign-in</button>
      <button class="navbar-right btn-space btn btn-primary navbar-btn" (click)="onTeamSignIn()">team sign-in</button>
    </div>
  </div>
</nav>
