<!-- <app-header
  [onAdminSignIn]="onAdminSignIn.bind(this)"
  [onAdminSignUp]="onAdminSignUp.bind(this)"
  [onTeamSignIn]="onTeamSignIn.bind(this)">
</app-header> -->
<!-- <app-admin-sign-in
  [hidden]="adminSignUp"
  [hidden]="!adminSignIn"
  [onAdminSignUp]="onAdminSignUp.bind(this)">
</app-admin-sign-in>
<app-team-sign-in [hidden]="!teamSignIn"></app-team-sign-in>
<app-admin-sign-up
  [hidden]="!adminSignUp">
</app-admin-sign-up>
<app-about>
</app-about>
<app-footer></app-footer> -->
<app-room></app-room>
