/* You can add global styles to this file, and also import other style files */
.scoreboard {
  height: 75vh;
  margin-left: 3%;
  border: 3px solid rebeccapurple;
}

.grading {
  height: 50vh;
  border: 3px solid rebeccapurple;
  margin-left: 3%;
}

.questionButton {
  margin: 0 0 5% 40%;
}

.questionList{
  height: 50vh;
  border: 3px solid rebeccapurple;
  margin-left: 3%;
  overflow-y: scroll;
}
