<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header navbar-text">
      <a class="footer" href="#">Battle-Codes-Royale © 2017 - </a>
      <a class="footer" href="https://talent.galvanize.com/students/1665">Brian Mann,</a>
      <a class="footer" href="https://talent.galvanize.com/students/1659">Jose Julio Figueiredo Jr,</a>
      <a class="footer" href="https://talent.galvanize.com/students/1655">Sally Bouley and</a>
      <a class="footer" href="https://talent.galvanize.com/students/1680">Yousif Al timimie</a>
    </div>
  </div>
</nav>
