<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Battle-Codes-Royale © 2017 - </a>
      <a class="navbar-brand" href="https://talent.galvanize.com/students/1665">Brian Mann,</a>
      <!-- <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" alt=""> -->
      <a class="navbar-brand" href="https://talent.galvanize.com/students/1659">Jose Julio Figueiredo,</a>
      <a class="navbar-brand" href="https://talent.galvanize.com/students/1655">Sally Bouley and</a>
      <a class="navbar-brand" href="https://talent.galvanize.com/students/1680">Youself Al Timimie</a>
    </div>
  </div>
</nav>
